* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-color: #eee;
  padding: 0 16px;
  overflow-x: hidden;
}

header {
  background-color: #4c566a;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header a {
  text-decoration: none;
  color: white;
}

header h1 {
  color: white;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgb(166, 166, 166);
}

.note {
  background: white;
  border-radius: 0.5em;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  cursor: pointer;
  box-shadow: 0 2px 5px rgb(204, 204, 204);
  transition: opacity 0.3s ease;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 0.9em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  color: #5a667d;
}

.note #delete {
  position: relative;
  float: right;
  margin-right: 10px;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: transparent;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 10px auto 20px auto;
  padding: 10px;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 2px 5px rgb(204, 204, 204);
  z-index: 1;
}

form.create-note input {
  font-weight: bold;
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2rem;
  font-family: inherit;
  resize: none;
}

form.create-note textarea {
  font-size: 1rem;
}

form.create-note input[type="color"] {
  padding: 0;
  margin: 1em auto;
  border-radius: 0.5rem;
}

form.create-note input[type="color"]:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}

form.create-note button {
  margin-right: 10px;
  background-color: #4c566a;
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

form.create-note button:hover {
  background-color: #2e3440;
}

#delete-all {
  float: right;
  background-color: #bf616a !important;
}

#delete-all:hover {
  background-color: #a45058 !important;
}

header button {
  position: absolute;
  top: 19px;
  right: 20px;
  color: #4c566a;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: transparent;
  color: white;
}

#first-note {
  font-size: 2rem;
  position: absolute;
  color: rgb(190, 190, 190);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#note-details {
  margin: 5em;
  padding: 4em;
}

#note-details h1 {
  font-size: 3rem;
}

#note-details p {
  width: 700px;
}

#back {
  margin-top: 2em;
  background-color: #4c566a;
}

#back:hover {
  background-color: #2e3440;
  transform: 0.3s ease\;
}